# Ignore everything by default in the root
*

# Allow directories but ignore their contents by default
!*/

# Whitelist files/directories we want to commit
!/docker-compose.yml
!/deploy-fix.sh
!/compress_images.py
!/README.md
!/.gitignore
!/db_init/
!/db_init/zhongming-local.sql
!/db_init/add_p125_p15.sql
!/wp-content/
!/wp-content/activate-plugins.php
!/wp-content/db-search-replace.php
!/wp-content/diagnose.php
!/wp-content/themes/
!/wp-content/themes/zhongming-theme/
!/wp-content/themes/zhongming-theme/**
!/scratch/extract_p125_p15_sql.py

# Explicitly ignore other stuff inside wp-content (just in case)
wp-content/uploads/
wp-content/plugins/
wp-content/upgrade/
wp-content/blogs.dir/
wp-content/cache/
